  <div class="col-md-4">
    <div>
      <strong>Precipitation Data Last Update:</strong>
      <p><%= @user.precipitation_updated_at.localtime%></p>
    </div>
    <div>
      <h2>Update Sites</h2>
      <p>If it's been more than 24 hours since the last time your precipitation data was updated, your project sites will have their precipitation data updated automatically. If you wish to update the data now, click the button.</p>
      <%= button_to "Update Your Sites", immediate_update_users_url %>
    </div>
    <div>
      <h2>Add New Site</h2>
      <%= form_for Site.new, :html=>{:class=>"form-horizontal"} do |f| %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :name, :value=>"Name" %>
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.label :address, "Address" %>
            <%= f.text_field :address %>
          </div>
        </div>
        <%= f.hidden_field :user_id, :value=>@user.id  %>
        <%= f.submit "Submit new site" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <h1><%=@user.name %>'s Project Sites</h1>
    </div>

    <div>
    <% @user.sites.each do |site| %>
      <div>
        <%= link_to site.name, site %>
      </div>
    <% end %> 
    </div>

    
  </div>
